.container {
    min-height: fit-content;
    margin: 2.5% 5%;
}

.container-header {
    min-height: 100px;
    max-width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news-container {
    min-height: 400px;
    max-width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.suggestion-container {
    height: 0;
    max-width: fit-content;
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#normal-navbar {
    display: flex;
}

.navbar-item {
    padding: 0 12px;
    cursor: pointer;
}

.navbar-item h4{
    color: hsl(233, 8%, 79%);
}

#burger-navbar {
    display: none;
}

.article-container-main {
    position: relative;
    max-width: 60%;
    min-height: 400px;

    display: flex;
    flex-direction: column;
}

.new-container-main {
    position: relative;
    max-width: 35%;
    min-height: 400px;

    background-color: hsl(240, 100%, 5%);
    display: flex;
}

.banner {
    width: 100%;
    height: 240px;
}

.banner-img {
    width: 100%;
    height: 100%;
}

.banner-img-mobile {
    display: none;
    width: 100%;
    height: 100%;
}

.banner-content {
    min-height: 160px;
    max-width: 100%;

    display: flex;
}

.title {
    min-width: 50%;
    min-height: 160px;

    display: flex;
    align-items: center;
    padding-right: 100px;
}

.title h1 {
    font-size: 35px;
}

.readmore-content {
    min-width: 50%;
    min-height: 160px;
}

.description p{
    font-size: 12px;
    max-width: 100%;
}

.description {
    margin-top: 5%;
    margin-right: 20%;
}

.readmore-btn {
    background-color: lightcoral;
    padding: 10px 20px;
    max-width: fit-content;
    color: white;
    letter-spacing: 2px;
    margin-top: 10px;
    font-size: 12px;
    cursor: pointer;
}

.new-articles {
    min-width: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
}

.new-title h1 {
    color: hsl(35, 77%, 62%);
    padding-bottom: 20px;
}

.new-article-item {
    border-bottom: 1px solid hsl(236, 13%, 42%);

    min-height: 20px;
}

.new-article-title {
    color: hsl(36, 100%, 99%);
    padding-bottom: 15px;
    font-size: 22px;
}

.new-article-description {
    color: hsl(236, 13%, 42%);
    padding-bottom: 30px;
    font-size: 18px;
}

#item2, #item3 {
    padding-top: 15px;
}

.suggestion-item {
    max-height: max-content;

    display: flex;
}

.sug-banner-img {
    height: 50%;
}

.sug-text {
    display: flex;
    flex-direction: column;

    max-width: fit-content;
    padding-left: 20px;
}

.sug-nummer {
    padding-bottom: 10px;
    color: hsl(236, 13%, 42%);
}

.sug-text h5{
    padding-bottom: 10px;
    font-weight: 900;
}

.sug-text h6 {
    line-height: 20px;
    color: hsl(236, 13%, 42%);
    max-width: fit-content;
}